# Arquivos brutos de dados (grandes volumes / TSE)
dados/*.csv
*.csv

# Variáveis de ambiente locais
.env

# Python
__pycache__/
*.py[cod]
*$py.class
.venv/
venv/
ENV/

# IDE e Sistema Operacional
.vscode/
.idea/
.DS_Store
Thumbs.db